<div class="beer-container"></div>
<h1>Random Beers</h1> 
{{#each randombeers}}
    {{>beerpartial this }}
    <p><strong>Food Pairing</strong></p>
    <ul>
      {{#each food_pairing}}
        <li>{{this}}</li>
      {{/each}}
    </ul>
    <p><strong>Brewers Tips:</strong> {{brewers_tips}}</p>
 
{{/each}}
 </div>